# For Dögüsü
````
for item in sequence: -> iterable objects
    ...
    execute expression
    ...
````

sequence :: sıralanmış, dizi

For döngüsünün genel kullanım amacı bir dizi değişkenin sırası ile incelenmesi veya işlenmesidir. Bu bir dizi değişken bir listede, sözlükte veya farklı bir döndürülebilir (iterable, içinde birden fazla değer tutan) nesne olabilir. 

Şimdi Python içerisinde şuana kadar öğrendiğimiz döndürülebilir (iterable) nesneler için for döngüsünğ çalıştıralım

````
string -> kelime
string -> cümle
liste
set
demet
sözlük
````

<b>Not - </b>While döngüleri için kullanılan komutlar (break, continue) for döngüsü için de kullanılabilir

In [ ]:
# ITERABLE OBJECTS
word = "Hello"
sentence = "Hello World!"
liste = ["Val1", "Val2", "Val3"]
demet = (1,2,3,4,5)
sets = {5,9,8,7}
sözlük = {"key1":1,"keys2":2}

In [ ]:
for i in word:
  print(i)

H
e
l
l
o

In [ ]:
for i in sentence:
  print(i)

H
e
l
l
o

W
o
r
l
d
!

In [ ]:
for i in liste:
  print(i)

Val1
Val2
Val3

In [ ]:
for i in demet:
  print(i)

1
2
3
4
5

In [ ]:
for i in sets:
  print(i)

8
9
5
7

In [ ]:
for i in sözlük:
  print(i)

key1
keys2

## Range
For döngüsü ile çokta kullanılan bir diğer komut ise range fonksiyonudur. Bu fonskiyon içerisine belirtilen iki sayı (eğer tek değer girilir ise alt taban 0 alınır) arasındaki tüm sayıları listeler. For döngüsü ile kullanımını özetleyecek olursak eğer :
````
for num in range(5):
  ...
  işlemler
  ...
````
şeklinde kullanılır. Range için belirtilen aralıktaki değerleri listeye döker demiştik. O zaman aslında işlem aşağıdaki şekle dönüşmüş olur.
````
for num in [0,1,2,3,4]:
  ...
  işlemler
  ...
````
Yani daha önce for döngüsü ile kullandığımız liste değişkeninden bir farkı yok.

In [ ]:
for num in range(5):
  print(num)

0
1
2
3
4

In [ ]:
for num in range(9,21):
  print(num)

9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
for num in range(0,20,2): # 3.değer kaçar kaçar gideceğini belirtir
  print(num)

0
2
4
6
8
10
12
14
16
18

### TASK 1 :: Liste içerisindeki tüm sayıları toplayın

### TASK 2 :: Liste içerisindeki çift sayıları toplayın

### TASK 3 :: Liste içerisindeki çift sayı adedini bulun

### TASK 4 :: Liste içerisindeki çift sayıları farklı bir listeye kaydedin

### TASK 5 :: Bir sözlüğün değerlerini (values) for ile yazdırın